/* Default Theme */
:root[data-theme="default"] {

  --card-shadow: 0 4px 8px rgba(0, 0, 0, 0.15),
                 0 -4px 8px rgba(0, 0, 0, 0.1);
                   
  --color-primary: #106EBE;

  --color-primary-text: #106EBE;
  --color-secondary-text: #707b93;

  /*Card Light Blue*/
  --card-background: #F5F5F5;

  /*Primary Button*/
  --button-primary: #106EBE;
  --button-text-inverse: #ffffff;
  --button-primary-hover: #0D5CA2;

  /*Secondary Button*/
  --button-secondary: #e5e7eb;
  --button-secondary-hover: #d1d5db;
  --button-secondary-text: #1f2937;

  /*Danger Button*/
  --button-danger: #ef4444;
  --button-danger-hover: #dc2626;
  --button-danger-text: #ffffff;
}

/* Dark Theme */
:root[data-theme="dark"] {
  --color-primary-text: #d66d50;
  --color-secondary-text: #707b93;

  /*Primary Button*/
  --button-primary: #d66d50;
  --button-text-inverse: #ffffff;
  --button-primary-hover: #c55a40;

  /*Secondary Button*/
  --button-secondary: #e5e7eb;
  --button-secondary-hover: #d1d5db;
  --button-secondary-text: #1f2937;

  /*Danger Button*/
  --button-danger: #ef4444;
  --button-danger-hover: #dc2626;
  --button-danger-text: #ffffff;
}
