/* Default Theme */
:root[data-theme="default"] {
  --color-primary-text: #d66d50;
  --color-secondary-text: #707b93;

  --button-primary: #d66d50;
  --button-text-inverse: #ffffff;
  --button-primary-hover: #c55a40;
}

/* Dark Theme */
:root[data-theme="dark"] {
  --color-primary-text: #d66d50;
  --color-secondary-text: #707b93;

  --color-button-primary: #d66d50;

  --color-text-inverse: #ffffff;
  --color-primary-hover: #c55a40;
}
